@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.field {
  display: flex;
  flex-direction: column;
  &__label {
    margin-bottom: 0.5rem;
  }
  &__input {
    height: 50px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: inherit;
  }
}

.login__button {
  @include button;
}

.disabled {
  @include disabled-button;
}
