@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;

.card {
  text-decoration: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  height: 80px;
  border-radius: 4px;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: $orange;
  &:hover {
    background-color: $orange-hover;
  }
  &__title {
    font-size: 1rem;
  }
  &__info {
    padding-left: 1rem;
    font-size: 14px;
  }
}
