@use '../../styles/partials/globals' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.hide {
  display: none;
  margin: none;
}
.show {
  display: inline;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__form {
    position: relative;
    top: -40px;
    z-index: 3;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  &__label {
    padding-bottom: 4px;
  }
  &__button {
    @include button;
    &--feed {
      // background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      // &:hover {
      //   background-color: $pumpkin;
      // }
    }
    &--icon {
      transform: rotate(180deg);
      height: 2rem;
      position: relative;
      top: -3px;
    }
  }
}

.disabled {
  @include disabled-button;
}
