@use '../../styles/partials/globals' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.hide {
  display: none;
  margin: none;
}
.show {
  display: inline;
}

.header {
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__dropdown {
    // padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  &__label {
    padding-bottom: 4px;
  }
  &__button {
    @include button;
  }
}

.disabled {
  @include disabled-button;
}
