@font-face {
  font-family: 'Metropolis';
  src: url('../../assets/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../assets/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/Proxima-Nova/Fontspring-DEMO-proximanova-regular.otf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/Proxima-Nova/Fontspring-DEMO-proximanovaexcn-semibold.otf')
    format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/Proxima-Nova/Fontspring-DEMO-proximanovacond-extrabold.otf')
    format('opentype');
  font-weight: 700;
}
