@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.signup {
  padding: 1rem;
  text-align: left;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    @include desktop-container;
    padding: 1rem 0;
  }
  &__title {
    padding-bottom: 2rem;
  }
  &__button {
    @include button;
    @include tablet {
      font-size: 1rem;
      width: 127px;
    }
    &--container {
      @include tablet {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__login {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    &--link {
      padding-left: 8px;
    }
  }
  &__label {
    margin-bottom: 8px;
  }
  &__input {
    &--upload {
      border-radius: 5px;
      display: flex;
      padding: 6px 12px;
      cursor: pointer;
      height: 45px;
      width: fit-content;
      margin-bottom: 1rem;
      align-items: center;
      background-color: $yellow;
      font-size: 14px;
      box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
      &:hover {
        background-color: $orange;
      }
      @include tablet {
        font-size: 1rem;
        margin-top: auto;
        margin-bottom: 1rem;
        height: 50px;
      }
    }
  }
  &__form {
    &--input {
      margin-bottom: 1rem;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    &--section {
      display: flex;
      flex-direction: column;
      @include tablet {
        width: 47%;
      }
    }
  }
  &__message {
    font-size: 14px;
    position: absolute;
    top: 130px;
    z-index: 4;

    &--error {
      color: red;
      margin-top: 8px;
    }
    &--success {
      color: green;
    }
    &--unsuccess {
      color: red;
    }
  }
}

.disabled {
  @include disabled-button;
}

.uploaded {
  background-color: $orange;
}
