@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;

.title {
  display: flex;
  padding: 0.5rem;
  &--back {
    height: 2.5rem;
    position: relative;
    top: -6px;
    padding-right: 4px;
  }
  @include tablet {
    padding: 1rem;
  }
}
