@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.popup-content {
  margin: auto;
  background: #fff;
  width: 350px;
  padding: 5px;
  border: 1px solid #d7d7d7;
  height: fit-content;
  position: relative;
  padding-top: 14px;
  @include tablet {
    width: fit-content;
  }
}
[role='tooltip'].popup-content {
  // width: 200px;
  padding: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  z-index: 1000;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
// .popup-arrow {
//   -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
//   filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
//   color: #fff;
//   stroke-width: 2px;
//   stroke: #d7d7d7;
//   stroke-dasharray: 30px;
//   stroke-dashoffset: -54px;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
// }

.modal {
  position: relative;
  &__trigger {
    object-fit: cover;
    height: 100px;
    width: 100px;
    cursor: pointer;
    @include tablet {
      height: 150px;
      width: 150px;
    }
    @include desktop {
      height: 200px;
      width: 200px;
    }
  }
  &__close {
    height: 2rem;
    position: absolute;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    left: -20px;
    font-size: 1.5rem;
    top: -30px;
    &:hover {
      background-color: $orange;
    }
  }
  &__content {
    &--delete {
      position: relative;
      border-radius: 5px;
      height: 24px;
      display: flex;
      padding: 1rem;
      font-size: 14px;
      width: fit-content;
      font-size: 1rem;
      background-color: $orange;
      align-items: center;
      &:hover {
        background-color: $orange-hover;
        cursor: pointer;
      }
    }
    &--confirm {
      position: relative;
    }
  }
}
