@use '../../styles/partials/globals' as *;

.list {
  padding: 1rem;
  text-align: left;
  &__title {
    display: flex;
    padding-bottom: 0.5rem;
    &--back {
      height: 2.5rem;
      position: relative;
      top: -6px;
      padding-right: 4px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}
