@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;

.profile-header {
  display: flex;
  // padding: 1rem;
  flex-direction: column;
  align-items: center;
  &__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    &--default {
      background-color: #808080;
    }
  }
  &__name {
    padding: 1rem;
  }
}
