@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 2;
  @include desktop {
    padding-top: 2rem;
    @include desktop-container;
  }
  &__section {
    &--logo {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    font-size: 30px;
    color: $pumpkin;
  }
  &__icon {
    height: 30px;
    padding-left: 1rem;
    &--heart {
      height: 26px;
    }
    &--profile {
      height: 28px;
    }
  }
}

.login-button {
  @include button;
  height: 30px;
  width: fit-content;
  padding: 0 8px;
}

.signup-button {
  @include button;
  height: 30px;
  width: fit-content;
  padding: 0 8px;
  background-color: white;
}
