@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.normal {
  font-weight: 400;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  height: 2rem;
  top: 0;
  z-index: 2;
  @include tablet {
    padding: 1.5rem 2rem;
  }
  &__other {
    background-color: white;
    padding-bottom: 2rem;
    @include tablet {
      height: 5rem;
      padding: 2rem;
    }
  }
  &__search {
    background-image: url('../../assets/images/iStock-1297349747.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 35vh;
    @include tablet {
      height: 50vh;
    }
  }
  @include desktop {
    padding-top: 2rem;
    @include desktop-container;
  }
  &__button {
    @include button;
    height: 1.3rem;
    font-size: 14px;
    width: fit-content;
    padding: 0 8px;
    margin-left: 4px;
    background-color: white;
    box-shadow: none;
    &:hover {
      background-color: $orange;
    }
    &--active {
      background-color: $orange;
    }
    @include tablet {
      font-size: 1rem;
      height: 1.5rem;
    }
  }
  &__section {
    height: fit-content;
    &--logo {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    font-size: 1.25rem;
    color: white;
    &--orange {
      color: $orange;
    }
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__icon {
    height: 1.45rem;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 4px;
    background-color: white;
    &:hover {
      background-color: $orange;
    }
    &--camera {
      padding: 0 8px;
    }
    @include tablet {
      height: 1.55rem;
    }
  }
}
