@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.login {
  padding: 1rem;
  text-align: left;
  &__title {
    padding-bottom: 2rem;
  }
}

.login__signup {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  &--link {
    padding-left: 8px;
  }
}
