@use '../../styles/partials/globals' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.post {
  &__form {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 14px;
  }
  &__label {
    margin-bottom: 8px;
  }
  &__input {
    &--rating {
      width: 50px;
    }
    &__label {
      margin-bottom: 8px;
    }

    &--upload {
      border-radius: 5px;
      display: flex;
      padding: 6px 12px;
      cursor: pointer;
      height: 45px;
      width: fit-content;
      margin-bottom: 1rem;
      align-items: center;
      background-color: $yellow;
      font-size: 14px;
      box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
      &:hover {
        background-color: $orange;
      }
    }
    &--bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__button {
    @include button;
  }
}

input[type='file'] {
  display: none;
}

.disabled {
  @include disabled-button;
}

.uploaded {
  background-color: $orange;
}
